<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h1>URL Shortener</h1>

<%= form_with model: Url, url: "/create", local: true do |form| %>
  <div>
    <%= form.label :original_url %><br>
    <%= form.text_field :original_url %>
  </div>

  <div>
    <button type="button" onclick="shortenUrl()">Shorten URL</button>
  </div>
<% end %>

<div class="shortened">
  <br/>
  <span id="message"></span>
  <a id="shortened_url" target="_blank"></a>
</div>


<script>
    const shortenUrl = () => {
        const originalUrl = $("#url_original_url").val();
        if (originalUrl === "") {
            alert("Please enter a URL to shorten");
            return;
        }
        $.ajax({
            url: "/create",
            type: "POST",
            headers: {
                "Authorization": "this_is_a_test_token"
            },
            data: {
                original_url: originalUrl
            },
            success: function (response) {
                $('#message').text("");
                $('#shortened_url').text("");
                if (response.short_url) {
                    $('#shortened_url').attr('href', response.short_url).text(response.short_url);
                    $('.shortened').show();
                    $('#message').text(response.message);
                } else {
                    $('.shortened').show();
                    $('#message').text(response.message);
                }
            },
            error: function (xhr, status, error) {
                alert("Error: " + error);
            }
        });
    }
</script>

